In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)

In [2]:
train_data=pd.read_csv(r"C:\Python Imarticus\Basics\Support Vector Machine\Credit Risk Analytics\risk_analytics_train.csv",header=0,index_col=0)
test_data=pd.read_csv(r"C:\Python Imarticus\Basics\Support Vector Machine\Credit Risk Analytics\risk_analytics_test.csv",header=0,index_col=0)

In [3]:
train_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,Male,Yes,0.0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
LP001022,Male,Yes,1.0,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
LP001031,Male,Yes,2.0,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
LP001035,Male,Yes,2.0,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
LP001051,Male,No,0.0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [9]:
train_data.shape

(614, 12)

In [10]:
test_data.shape

(367, 11)

### Pre Processing Data

##### Missing Value Treatment

In [7]:
print(train_data.isnull().sum())
print()
print(test_data.isnull().sum())

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [ ]:
#Gender- Imputed with mode in both test and train data
#Married- Imputed with mode in train data
#Dependents- Imputed with mode as we have discrete values in both test and train data
#Self_Employed- Imputed with mode in both test and train data
#LoanAmount- Imputed with mean in both test and train data
#Loan_Amount_Term- Imputed with mode as we have discrete values in both test and train data
#Credit_History- Intitally taken as 0 considering as fresh candidate for loan in both test and train data

In [11]:
# Train Data

colname1=["Gender","Married","Dependents","Self_Employed", "Loan_Amount_Term"]
for x in colname1:
    train_data[x].fillna(train_data[x].mode()[0],inplace=True)

In [13]:
train_data["LoanAmount"].fillna(round(train_data["LoanAmount"].mean(),0),inplace=True)

In [17]:
train_data["Credit_History"].fillna(value=0,inplace=True)

In [18]:
print(train_data.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [19]:
#Test Data

colname1=["Gender","Dependents","Self_Employed", "Loan_Amount_Term"]
for x in colname1:
    test_data[x].fillna(test_data[x].mode()[0],inplace=True)

In [20]:
test_data["LoanAmount"].fillna(round(test_data["LoanAmount"].mean(),0),inplace=True)

In [21]:
test_data["Credit_History"].fillna(value=0,inplace=True)

In [22]:
print(test_data.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

##### Outliers

In [23]:
'''SVM is not effected by outliers in the data. Hence no need to handle them if any'''

'SVM is not effected by outliers in the data. Hence no need to handle them if any'

##### Label Encoding- Conversion of Categorical var to Numerical var

In [25]:
# Train Data

train_data.dtypes

Gender                object
Married               object
Dependents           float64
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [26]:
colname=[]
for x in train_data.columns:
    if train_data[x].dtype=='object':
        colname.append(x)
        
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for x in colname:
    train_data[x]=le.fit_transform(train_data[x])
    le_name_mapping=dict(zip(le.classes_,le.transform(le.classes_)))
    print('Feature',x)
    print('mapping',le_name_mapping)

In [27]:
train_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,1,0,0.0,0,0,5849,0.0,146.0,360.0,1.0,2,1
LP001003,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
LP001005,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
LP001006,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
LP001008,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [29]:
# Test Data

test_data.dtypes

Gender                object
Married               object
Dependents           float64
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [31]:
colname=[]
for x in test_data.columns:
    if test_data[x].dtype=='object':
        colname.append(x)
        
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for x in colname:
    test_data[x]=le.fit_transform(test_data[x])

In [32]:
test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,1,1,0.0,0,0,5720,0,110.0,360.0,1.0,2
LP001022,1,1,1.0,0,0,3076,1500,126.0,360.0,1.0,2
LP001031,1,1,2.0,0,0,5000,1800,208.0,360.0,1.0,2
LP001035,1,1,2.0,0,0,2340,2546,100.0,360.0,0.0,2
LP001051,1,0,0.0,1,0,3276,0,78.0,360.0,1.0,2

### Splitting Data

In [ ]:
'''We dont have any dep var in test data. In Real world to evaluate model we split train data into train and validation test data.
But We are not creating any validation test data from train data as we have only 614 obs in train data. If we split train data
the model will be built on less data leading to underfitted model. Here we build on entire train data and predict on test data. 
and Following we see the model evaluation in such cases'''

In [35]:
X_train=train_data.values[:,:-1]
Y_train=train_data.values[:,-1]
Y_train=Y_train.astype(int)

X_test=test_data.values[:,:]

### Scaling Data

In [36]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

### Model1: Basic Model

In [42]:
from sklearn.svm import SVC
#hyper parameters are given the default values at first which can be changed later during tuning model if needed
svc_model=SVC(kernel="rbf",gamma=0.1,C=1.0) 
svc_model.fit(X_train,Y_train)
Y_pred=svc_model.predict(X_test)
print(Y_pred)

[1 1 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 1 0 1 1 0 1 0 1 1 1 1
 1 1 1 1 0 1 0 0 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 0
 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 0 0 0 1 1 1 1 1 1 0 0 1 1 0 1 0 1 1 1 1 1
 0 1 1 1 1 1 1 0 0 1 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1
 1 1 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1 0 1 0 1 0 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1
 1 1 1 0 1 1 0 0 1 0 1 1 1 1 0 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1
 1 1 1 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 0 1 1]

#### Storing the Output into new df

In [47]:
# Appending the Y_Pred by recreating test data

new_test_data=pd.read_csv(r"C:\Python Imarticus\Basics\Support Vector Machine\Credit Risk Analytics\risk_analytics_test.csv",header=0,index_col=0)
new_test_data["Loan_Status_Predictions"]=Y_pred
new_test_data["Loan_Status_Predictions"]=new_test_data["Loan_Status_Predictions"].map({0:"N",1:"Y"})

In [49]:
new_test_data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status_Predictions
Loan_ID,,,,,,,,,,,,
LP001015,Male,Yes,0.0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
LP001022,Male,Yes,1.0,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
LP001031,Male,Yes,2.0,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
LP001035,Male,Yes,2.0,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,N
LP001051,Male,No,0.0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,Y

In [51]:
new_test_data.to_excel("C:\Python Imarticus\Basics\Results_Files\Credit_Risk_Analytics_SVM_Predicted.xlsx",header=True)

#### Evaluation Metrics

##### Approach1:Using Score attribute of model

In [53]:
'''When we dont have validation data set due to lesser no of obs, to evaluate model we can use internal validation score 
generated by model (any algorithm). when we build the model it internally do testing on train data and generates a score parameter. 
Based on the prediction of Y values on the X_train it internally compares these Y values with Y_train values and 
calcualtes the accuracy score. This is going to be higher score as it learns on train data and predicts on same data,
but we get a hint of similar on test data. We can tell client slightly lower with 2-4% less'''

svc_model.score(X_train,Y_train)

0.7947882736156352

##### Approach2:Using Cross validation technique

In [55]:
#Using Default parameter values: basic SVM

from sklearn import svm

classifier=svm.SVC(kernel='rbf',C=1.0,gamma=0.1) 

#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10)
print(kfold_cv)

from sklearn.model_selection import cross_val_score
kfold_cv_result=cross_val_score(estimator=classifier,X=X_train,y=Y_train, cv=kfold_cv)
print(kfold_cv_result)

print(kfold_cv_result.mean())

KFold(n_splits=10, random_state=None, shuffle=False)
[0.74193548 0.82258065 0.75806452 0.72580645 0.7704918  0.67213115
 0.75409836 0.75409836 0.78688525 0.80327869]
0.7589370703331569

In [56]:
#changing SVC parameter values

from sklearn import svm
classifier=svm.SVC(kernel='rbf',C=10.0,gamma=0.001)

#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10)
print(kfold_cv)

from sklearn.model_selection import cross_val_score
kfold_cv_result=cross_val_score(estimator=classifier,X=X_train,y=Y_train, cv=kfold_cv)
print(kfold_cv_result)

print(kfold_cv_result.mean())

KFold(n_splits=10, random_state=None, shuffle=False)
[0.77419355 0.82258065 0.74193548 0.72580645 0.7704918  0.68852459
 0.80327869 0.7704918  0.7704918  0.83606557]
0.770386039132734

In [ ]:
'''Not much increase in accuracy by changing hyper parameters due to the data set quality. Ideally if we have real data 
we can see the increase in accuracy in better percentage'''

In [57]:
#Using KNN

from sklearn.neighbors import KNeighborsClassifier

classifier=KNeighborsClassifier(n_neighbors=11, metric='euclidean')

#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10)
print(kfold_cv)

from sklearn.model_selection import cross_val_score
kfold_cv_result=cross_val_score(estimator=classifier,X=X_train,y=Y_train, cv=kfold_cv)
print(kfold_cv_result)

print(kfold_cv_result.mean())

KFold(n_splits=10, random_state=None, shuffle=False)
[0.75806452 0.82258065 0.75806452 0.69354839 0.75409836 0.6557377
 0.75409836 0.7704918  0.7704918  0.7704918 ]
0.7507667900581703

In [58]:
#Using LogisticRegression

from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()

#performing kfold_cross_validation
from sklearn.model_selection import KFold
kfold_cv=KFold(n_splits=10)
print(kfold_cv)

from sklearn.model_selection import cross_val_score
kfold_cv_result=cross_val_score(estimator=classifier,X=X_train,y=Y_train, cv=kfold_cv)
print(kfold_cv_result)

print(kfold_cv_result.mean())

KFold(n_splits=10, random_state=None, shuffle=False)
[0.77419355 0.82258065 0.74193548 0.72580645 0.7704918  0.68852459
 0.80327869 0.7704918  0.78688525 0.83606557]
0.772025383395029

In [ ]:
'''AS Cross validation is cost expensive we go for Score appraoch only.'''

In [ ]:
'''If we observe the CV appraoch we can state that Logistic Regression holds good for binary classification. In Industry as
we ideally see across different algorithms and finalise the model'''

### Save Model permanently to a file

In [59]:
import pickle

In [ ]:
'''For sharing the o/p if we have test file given by client we can share it in an o/p file. But when we have test data in real time
then if we we want to create a real time application (like a form where user provides input at real time), as data scientist
we save the file and provide the dump to python developer who embeds this into web application'''

In [60]:
#save model to disk

filename = 'C:\Python Imarticus\Basics\Support Vector Machine\svc_model.sav'
pickle.dump(svc_model, open(filename, 'wb'))

In [ ]:
'''Once Data scientist gives the dump the developer loads the model and predicts in run time by below code'''

In [61]:
# load the model from disk to predict in run time

loaded_model = pickle.load(open(filename, 'rb'))
Y_pred=loaded_model.predict(X_test) #X_test here taken as eg, in reality this will the data entered by user and passed by devloper
Y_pred
#result = loaded_model.score(X_train, Y_train)
#print(result)

array([1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1])